body {
    font-family: 'Montserrat', sans-serif;
}

.color-yellow { color: #FBBE30; }
.background-yellow { background: #FBBE30; }
.color-green { color: #8ED300; }
.background-green { background: #8ED300; }
.color-gray { color: #7A7562; }
.background-gray { background: #7A7562; }

.gradient-splash {
    /*background: linear-gradient(to right, #C60711, #C01A7F);*/
    background: #0A0A0A;
}

#nav-21,
#nav-21 a,
#nav-21 ion-icon {
    color: black;
    font-size: 1.05em;
    opacity: 90%;
}

#nav-list-21 a {
    color: black;
}

#primary-bg {
    height: 80vh;
    width: 100%;
    background: url("/images/header-25.jpg");
    /*background: url("/images/bg-primary.JPG");*/
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    position: relative;
}

.color-filter-black {
    position: absolute;
    background: black;
    opacity: 40%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.color-filter-burg {
    position: absolute;
    background: #51002B;
    opacity: 40%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#primary-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-align: center;
    color: white;
    text-transform: lowercase;
    text-shadow: 2px 2px 4px black;
}

#primary-txt-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
    color: white;
    text-transform: lowercase;
    text-shadow: 2px 2px 4px black;
}

.secondary-txt {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.btn-family {
    color: white;
    border-radius: 30px;
    transition: background 0.4s ease;
    padding: 10px 20px;
}

.bg-turqoise {
    background: rgba(30, 193, 217, 1);
    color: white;
}

.bg-kapa-orange { background: rgba(235, 151, 29, 1); }

.btn-kapa-teal-outline:hover { background: rgba(28, 143, 145, 1); color: white; }

.underline-teal { border: 2px solid RGBA(28, 143, 145, 1); transition: 0.8s background ease; }
.underline-orange { border: 2px solid RGBA(235, 151, 29, 1); transition: 0.8s background ease; }
.underline-pink { border: 2px solid RGBA(209, 60, 152, 1); transition: 0.8s background ease; }
.underline-green { border: 2px solid RGBA(150, 154, 60, 1); transition: 0.8s background ease; }

.underline-teal:hover { background: RGBA(28, 143, 145, 1); }
.underline-orange:hover { background: RGBA(235, 151, 29, 1); }
.underline-pink:hover { background: RGBA(209, 60, 152, 1); }
.underline-green:hover { background: RGBA(150, 154, 60, 1); }

.primary-btn-pos {
    position: absolute;
    bottom: 35%;
    left: 19%;
    /*transform: translate(-50%, -50%);*/
}

#button-tablet {
    position: absolute;
    bottom: 35%;
    left: 18%;
}

#button-mobile {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary-txt-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1.25em;
}

.tertiary-txt-pos {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 100%;*/
    font-size: 1.25em;
}

#vision {
    transform: translateY(-80px);
}

#next-steps {
    transform: translateY(-150px);
}

.next-step {
    background: white;
    color: black;
    width: 300px;
    height: 200px;
    padding: 40px 20px;
    text-align: center;
    margin: 0 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.25em;
}

#checklist-bg p,
#checklist-bg h2,
#checklist-bg ion-icon
{
    text-shadow: 1px 1px 4px black;
}

#checklist-bg {
    min-height: max-content;
    height: 60vh;
    width: 100%;
    background: url("/images/parents-love-rockstar.jpg");
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    position: relative;
}

#mtjgd-bg {
    height: 100vh;
    width: 100%;
    background: url("/images/mtjgd-bg.jpg");
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    position: relative;
}

#testimonials .col-md {
    background: white;
    border-radius: 15px;
}

#footer ion-icon {
    font-size: 1.5em;
}

.banner-wrap {
    height: 200px;
}

.banner {
    height: 100%;
    background-image: url(/images/banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: hue-rotate(-20deg);*/
}

.signed {
    font-family: 'Niconne', cursive;
    color: #FBA92A;
    font-size: 1.5em;
}

/*---------------------------------------*/
/* BIO ACCORDION */
/*---------------------------------------*/
/* Style the buttons that are used to open and close the accordion panel */
.bioaccordion {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: white;
}

.bioaccordion:hover {
    background: #ebe82e;
}

/* Style the accordion panel. Note: hidden by default */
.biopanel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    z-index: 1;
    width: 100%;
    background: white;
}

.biopanel-open {
    width: 100%;
    background: white;
}

.box-one { background: #eab830; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-two { background: #307ad5; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-three { background: #1ec1d9; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-four { background: #10c45c; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-five { background: #d94da6; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }

#fall-select a {
    text-decoration: none;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.accordion-button {
    background: #B8EDEB !important;
}

.accordion-button::after {
    background-image: none !important;
}

#enroll-form label {
    text-align: right;
}

.hover-blue a:hover {
    color:blue !important;
}

/* ******************************** faculty ******************************* */

.staff-alexa { background: url("/images/staff-alexa.jpg");}
.staff-ali { background: url("/images/staff-ali.jpg");}
.staff-david { background: url("/images/staff-david.jpg");}
.staff-kaitlyn { background: url("/images/staff-kaitlyn.jpg");}
.staff-kylin { background: url("/images/staff-kylin.jpg");}
.staff-serena { background: url("/images/staff-serena.jpg");}
.staff-stevie { background: url("/images/staff-stevie.jpg");}

.staff-alexa:hover { background: url("/images/staff-alexa-pose.jpg");}
.staff-ali:hover { background: url("/images/staff-ali-pose.jpg");}
.staff-david:hover { background: url("/images/staff-david-pose.jpg");}
.staff-kaitlyn:hover { background: url("/images/staff-kaitlyn-pose.jpg");}
.staff-kylin:hover { background: url("/images/staff-kylin-pose.jpg");}
.staff-serena:hover { background: url("/images/staff-serena.jpg");}
.staff-stevie:hover { background: url("/images/staff-stevie-pose.jpg");}

.staff-wrap {
    height: 450px;
    width: 100%;
    margin: 15px;
    padding: 0;
}

.staff-bg {
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.staff-bg:hover {
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

/* ******************************** end faculty ******************************* */

@media only screen and (max-width: 600px) {
    #enroll-form label {
        text-align: left;
    }
}


.btn-burg-light { background: rgba(147, 59, 79, 1); color: white;}
.btn-burg-light:hover { background: rgba(147, 59, 79, 0.7); color: white;}
.btn-burg-light-outline { border: 2px solid rgba(147, 59, 79, 1); background: transparent; transition: 0.8s all ease;}
.btn-gold { background: rgba(251, 169, 42, 1); color: white;}
.btn-gold:hover { background: rgba(251, 169, 42, 0.7); color: white;}
.btn-gold-outline { border: 2px solid rgba(251, 169, 42, 1); background: transparent; transition: 0.8s all ease;}
.btn-burg-dark { background: rgba(64, 34, 35, 1); color: white;}
.btn-burg-dark:hover { background: rgba(64, 34, 35, 0.7); color: white;}
.btn-burg-dark-outline { border: 2px solid rgba(64, 34, 35, 1); background: transparent; transition: 0.8s all ease;}

.txt-burg-light { color: #933B4F }
.txt-burg { color: #51002B }
.txt-gold { color: #FBA92A }
.txt-burg-dark { color: #402223 }

.nic {
    font-family: 'Niconne', cursive;
    font-size: 2.5em;
    font-weight: bold;
}

.norm {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: normal;
}

/*
LOGO LIGHT BURGUNDY
#933B4F
rgba(147, 59, 79, 1)

BG BURGUNDY
#51002B
rgba(81, 0, 43, 1)

LOGO DARK BURGUNDY
#402223
rgba(64, 34, 35, 1)

LOGO GOLD
#FBA92A
rgba(251, 169, 42, 1)

YELLOW
#F4E909

PASTEL YELLOW
#E8D760

RANDOM HOT PINK
#F40082
rgba(244, 0, 130, 1)

 */
